body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  background-image: url(https://st.prntscr.com/2022/09/11/1722/img/page-bg.png);
}

.ml-auto {
  margin-left: auto;
}

.social {
  margin-right: 40px;
}
  
.twitter, .facebook {
  display: inline-block;
  vertical-align: middle;
  margin: 3px 0 0 10px;
}

.d-flex {
  display: flex;
}